### IDE files / OS files ###
.idea/
.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Dropbox ###
# Dropbox settings and caches
.dropbox
.dropbox.attry
.dropbox.cache

### Test Coverage ###
htmlcov/*


### Env / Config files ##
config.py
.env

### NPM & Python Miscellania ###
node_modules
__pycache__/

### Packaged Files ###
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

### Logs and Databases ###
*.db
*.sqlite
*.log
logs/
log/

### Misc ###
scratch*
notes.txt

### Whitelisted files ###

# Track these if they exist
!.gitignore
!.dockerignore
!.travis.yml

